# IDE settings
.idea/

# additional files
additional/

# global static & media files
reshuffle/static/*
reshuffle/media/*

# virtual environment
venv/

# database
reshuffle/db.sqlite3

# config
reshuffle/.env
