# IDE settings
.idea/

# virtual environment
venv/

# tesseract environment
reshuffle/tesseract/*
!reshuffle/tesseract/links.txt

# global static & media files
reshuffle/static/*
reshuffle/media/*
!reshuffle/media/base

# migrations
reshuffle/main/migrations/*
!reshuffle/main/migrations/__init__.py

# database
reshuffle/db.sqlite3

# config
reshuffle/.env
