{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    <!-- Custom admin CSS Files -->
    <link href="{% static "admin/css/styles.css" %}" rel="stylesheet">
    <!-- ---------------------- -->
{% endblock %}

{% block extrahead %}
    <!-- Custom admin JS Files -->
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_SVG"></script>
    <script src="{% static "admin/js/scripts.js" %}"></script>
    <script>
        const CSRF_TOKEN = "{{ csrf_token }}";
        const URL_VALIDATION_PART = "{% url 'validation_part' %}";
        const URL_VALIDATION_TASK = "{% url 'validation_task' %}";
    </script>
    <!-- --------------------- -->
{% endblock %}

{% block title %}
    {% if subtitle %} {{ subtitle }} | {% endif %} {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}