/* GENERAL */

:root {
    --white: #FFFFFF;
    --light: #F5F5F5;
    --light-hover: #FCFCFC;
    --bs-border-color: #DEE2E6;
    --secondary: #CED4DA;
    --text-secondary: #6C757D;
    --dark: #212529;
    --primary: #0D6EFD;
    --pr-accent: #86B7FE;
}

*:focus {
    box-shadow: none !important;
}

html,
body {
    background-color: var(--light);
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.form-floating > input + label:after {
    background: none !important;
}

header .display-6 {
    color: var(--text-secondary);
    margin: 0;
}

.btn-light {
    background-color: var(--white);
    border: 1px solid var(--bs-border-color) !important;
}

.btn-light:hover {
    background-color: var(--light-hover);
}

.btn-light:active {
    background-color: var(--light) !important;
}

.btn-light:disabled {
    color: var(--text-secondary);
}


/* CUSTOM CONTAINER */

.custom-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.custom-container header {
    flex: 0 1 auto;
    margin-top: 16px;
    margin-bottom: 32px;
}

.custom-container main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.custom-container main .inner {
    align-self: center;
    max-width: 500px;
    padding: 0 16px 0 16px;
}

.custom-container footer {
    flex: 0 1 auto;
    margin-top: 32px;
    padding-bottom: 16px;
}


/* DATEPICKER */

.datepicker-container {
    width: 300px;
}

.datepicker-panel > ul {
    width: 100%;
}

.datepicker-panel > ul > li {
    width: 42.85px;
}

.datepicker-panel > ul[data-view=months] > li,
.datepicker-panel > ul[data-view=years] > li {
    width: 75px;
}

.datepicker-panel > ul > li[data-view="month current"],
.datepicker-panel > ul > li[data-view="year current"],
.datepicker-panel > ul > li[data-view="years current"] {
    width: 214.28px;
}

.datepicker-panel > ul > li:hover {
    color: var(--primary);
    background-color: transparent;
}

.datepicker-panel > ul > li.picked {
    color: var(--white);
    background-color: var(--pr-accent);
}

.datepicker-panel > ul > li.picked:hover {
    color: var(--white);
    background-color: var(--pr-accent);
}

.datepicker-panel > ul > li.highlighted {
    color: var(--primary);
    background-color: transparent;
}

.datepicker-panel > ul > li.highlighted:hover {
    color: var(--primary);
    background-color: transparent;
}

.datepicker-panel > ul > li.highlighted.picked {
    color: var(--white);
    background-color: var(--pr-accent);
}

.datepicker-panel > ul > li.muted:hover {
    color: var(--primary);
    background-color: transparent;
}


/* TABLE & ALERT & TOAST & MODAL */

.table-container {
    margin: 0 16px;
    border: 1px solid var(--bs-border-color);
    border-radius: 0.375rem;
    overflow: hidden;
}

@media (width <= 800px) {
    .table-container {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    --bs-table-bg-state: var(--light);
}

.pagination {
    display: flex;
    justify-content: center;
}

.alert-container {
    margin: 0 16px;
}

.toast-container > .toast {
    width: 370px !important;
}

.modal-backdrop {
    --bs-backdrop-opacity: 0.8 !important;
}


/* AUTH PAGE */

.form-login {
    width: 300px;
    margin: auto;
}

.form-check .form-check-input {
    float: none;
    margin-left: 0;
    padding-left: 0;
}


/* INDEX PAGE */

.index_card {
    min-width: 300px;
}

.index_card .btn {
    width: 152px;
}

.index_card .icon {
    font-size: 48px;
    color: var(--text-secondary);
}

.index_card .card-body {
    align-items: center;
}


/* CREATION PAGE */

.form-creation {
    width: 300px;
    margin: auto;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#overlay .content {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* DOWNLOAD PAGE */

.div-download {
    margin: auto;
}

.div-download p {
    margin: 0;
}


/* CAPTURE PAGE */

#background {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    padding: 0;
}

#background .bg-vid-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background .bg-vid-container:before {
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, rgba(0, 0, 0, 0.6) 100%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#background .bg-vid {
    width: 100%;
    min-width: 180vh;
    height: auto;
}

.nav-item-divider {
    margin: 0 8px;
}

#button_capture {
    margin: 0 6px;
}

#button_upload {
    margin: 0 6px;
}

@media (width < 386px) {
    #button_capture {
        margin-bottom: 12px;
    }
}

.uk {
    font-family: Consolas, monospace, serif;
}
