#result_list th {
    vertical-align: middle;
}

#result_list td {
    vertical-align: middle;
    border: 1px solid var(--hairline-color);
}

.td_content {
    max-height: 200px;
    min-width: 200px;
    overflow: auto;
}

input:disabled, select:disabled {
    background-color: var(--darkened-bg);
}