{% extends "main/base.html" %}

{% load i18n %}
{% load static %}

{% block body %}
    <!-- header START -->
    <header>
        <a href="{% url 'index' %}" class="display-1 fw-bold"> {{ project_name }} </a>
    </header>
    <!-- header END -->

    <!-- main START -->
    <main>
        <div class="inner">
            <h1 style="font-size: calc(10em + 4vw);"> 4<span style="color: var(--primary);">0</span>4 </h1>
            <h2 class="mb-3">{% trans "Page not Found" %}</h2>
            <p class="mb-5">
                {% blocktranslate %}The page you are looking for may have been deleted, <br>renamed, or just temporarily
                    unavailable.{% endblocktranslate %}
            </p>
            <a href="{% url 'index' %}" class="btn btn-primary align-self-center mb-4" style="min-width: 152px;">
                {% trans "To Main page" %}
            </a>
        </div>
    </main>
    <!-- main END -->

    <!--footer START -->
    <footer></footer>
    <!--footer END -->
{% endblock %}

{% block extra_js %}
    <script>
        // add "custom-container" & "text-center" classes to body
        document.body.classList.add("custom-container", "text-center");
    </script>
{% endblock %}