{% extends "main/base.html" %}

{% load i18n %}
{% load static %}

{% block body %}
    <!-- header START -->
    <header>
        <span class="display-1 fw-bold" style="color: var(--primary)"> {{ project_name }} </span>
        <p class="display-6"> {{ subtitle }} </p>
    </header>
    <!-- header END -->

    <!-- main START -->
    <main class="content">
        <div class="inner">
            <!-- catch form errors START -->
            {% for error in form.non_field_errors %}
                <div class="alert alert-warning" data-aos="zoom-in" data-aos-duration="300"> {{ error }} </div>
            {% endfor %}
            {% if user.is_authenticated %}
                <div class="alert alert-warning" data-aos="zoom-in" data-aos-duration="300">
                    {% blocktranslate %}You are logged in as <b>{{ user }}</b>, but you do not have sufficient rights to
                        view this page. Perhaps you would like to log in using a different
                        account?{% endblocktranslate %}
                </div>
            {% endif %}
            {% for f in form %}
                {% for error in f.errors %}
                    <div class="alert alert-warning" data-aos="zoom-in" data-aos-duration="300"> {{ error }} </div>
                {% endfor %}
            {% endfor %}
            <!-- catch form errors END -->

            <!-- auth form START -->
            <form method="post" class="form-login">
                {% csrf_token %}
                <h3 class="fw-normal mb-3"> {% trans "Authorization" %} </h3>
                <div class="form-floating mb-2">
                    {{ form.username }}
                    <label for="{{ form.username.id_for_label }}"> {{ form.username.label }} </label>
                </div>
                {# TODO: add show / hide password "eye" icon #}
                <div class="form-floating mb-2">
                    {{ form.password }}
                    <label for="{{ form.password.id_for_label }}"> {{ form.password.label }} </label>
                </div>
                <div class="form-check mb-4" style="padding-left: 0 !important;">
                    {{ form.remember_me }}
                    <label class="form-check-label ms-1" for="{{ form.remember_me.id_for_label }}">
                        {{ form.remember_me.label }}
                    </label>
                </div>
                <button class="btn btn-primary" style="min-width: 152px;" type="submit">
                    {% trans "Log in" %}
                </button>
            </form>
            <!-- auth form END -->
        </div>
    </main>
    <!-- main END -->

    <!--footer START -->
    <footer>
        <a href="#" data-bs-toggle="modal" data-bs-target="#auth_hlp_modal">
            {% trans "Having problems?" %}
        </a>
    </footer>
    <!--footer END -->

    <!-- modal START -->
    <div class="modal fade" id="auth_hlp_modal" tabindex="-1" aria-labelledby="auth_hlp_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="auth_hlp_modal_label">{% trans "Having problems?" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                    {# TODO: add dynamic help info #}
                </div>
            </div>
        </div>
    </div>
    <!-- modal END -->
{% endblock %}

{% block extra_js %}
    <script>
        // add "custom-container" & "text-center" classes to body
        document.body.classList.add("custom-container", "text-center");
    </script>
{% endblock %}