{% extends "main/base.html" %}

{% load i18n %}
{% load static %}

{% block body %}
    <!-- header START -->
    <header style="margin: 0 !important; background: var(--white);">
        <!-- navbar menu START -->
        <nav class="container-fluid border-bottom">
            <div class="row align-items-center" style="min-height: 52px;">
                <div class="col-auto">
                    <span class="fw-semibold" style="font-size: 24px;">{{ project_name }}</span>
                </div>
                <div class="col-lg">
                    <span class="nav-subtitle" style="color: var(--text-secondary);">{{ subtitle }}</span>
                </div>
                <div class="col-auto">
                    <span>{% trans "Archive" %}: <b>xxx-xxx-xxx-xxx</b></span>
                    <span class="nav-item-divider"> / </span>
                    <span>{% trans "Works checked" %}: <b>xx (xx)</b></span>
                    <span class="nav-item-divider"> / </span>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#info_modal">{% trans "Info" %}</a>
                    <span class="nav-item-divider"> / </span>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exit_modal">{% trans "End session" %}</a>
                </div>
            </div>
        </nav>
        <!-- navbar menu END -->

        <!-- info modal START -->
        <div class="modal fade" id="info_modal" tabindex="-1" aria-labelledby="info_modal_label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="info_modal_label">{% trans "Info" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {# TODO: add dynamic info #}
                    </div>
                </div>
            </div>
        </div>
        <!-- info modal END -->

        <!-- exit modal START -->
        <div class="modal fade" id="exit_modal" tabindex="-1" aria-labelledby="exit_modal_label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exit_modal_label">{% trans "End session" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            {% trans "Do you really want to end the session? All unsaved data will be lost." %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">{% trans "Continue" %}
                        </button>
                        <a href="{% url 'index' %}" type="button" class="btn btn-danger">{% trans "End" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- exit modal END -->
    </header>
    <!-- header END -->

    <!-- main START -->
    <main class="content text-center">
        <div id="camera_issue" class="inner" style="max-width: 435px !important;">
            <div data-aos="fade-up" data-aos-duration="300">
                <h3 class="fw-normal mb-2" data-aos="fade-up" data-aos-duration="300"> {% trans "Camera issue" %} </h3>
                <p class="bi bi-camera-video-off" style="font-size: 94px; color: var(--text-secondary)"></p>
                <p class="mb-4">{% trans "The application cannot access the web-camera. Make sure you have granted access in the browser settings and try reloading the page. If these actions did not help, you can use the option to upload the image from your computer." %}</p>
                <a href="#" class="btn btn-primary" style="min-width: 152px;">{% trans "Refresh page" %}</a>
            </div>
        </div>
    </main>
    <!-- main END -->

    <!--footer START -->
    <footer class="text-center">
        <div class="btn-group dropdown-center" style="min-width: 152px; margin-right: 12px;">
            <button type="button" class="btn btn-primary">
                <i class="bi bi-camera"></i>
                {% trans "Capture" %}
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <div class="dropdown-menu">
                <h6 class="dropdown-header">{% trans "Select a video source" %}</h6>
                <hr class="dropdown-divider">
                <ul id="video_sources" style="list-style-type: none; margin: 0; padding: 0;"></ul>
            </div>
        </div>
        <button type="button" class="btn btn-light" style="min-width: 152px;">
            <i class="bi bi-upload"></i>
            {% trans "Upload image" %}
        </button>
    </footer>
    <!--footer END -->
{% endblock %}

{% block extra_js %}
    <script>
        // add "custom-container" class to body
        document.body.classList.add("custom-container");

        // function for loading a list of video sources
        function load_video_sources() {
            const ls_key = "active_video_source";
            let list = document.getElementById("video_sources");
            navigator.mediaDevices.enumerateDevices().then(devices => {
                let video_sources = devices.filter(device => device.kind === "videoinput" && device.deviceId !== "");
                let active_video_source = localStorage.getItem(ls_key);
                video_sources.forEach((src) => {
                    let li = document.createElement("li");
                    let button = document.createElement("button");
                    button.className = `dropdown-item${active_video_source === src.deviceId ? " active" : ""}`;
                    button.type = "button";
                    button.id = src.deviceId;
                    button.innerHTML = src.label;
                    button.onclick = function () {
                        for (let li of list.children)
                            li.firstElementChild.className = "dropdown-item";
                        this.classList.add("active");
                        localStorage.setItem(ls_key, this.id);
                    };
                    li.append(button);
                    list.appendChild(li);
                });
                if (list.children.length && active_video_source == null) {
                    let button = list.firstElementChild.firstElementChild;
                    button.classList.add("active");
                    localStorage.setItem(ls_key, button.id);
                }
            }).catch(e => {
                console.error("Error getting video sources:", e);
            });
        }

        load_video_sources();


        {#let canvas_block = document.getElementById("canvas_block");#}
        {#let video_block = document.getElementById("video_block");#}
        {#let stream;#}
        {##}
        {#async function webcam_start() {#}
        {#    try {#}
        {#        stream = await navigator.mediaDevices.getUserMedia({#}
        {#            video: {#}
        {#                width: {ideal: 3840},#}
        {#                height: {ideal: 2160}#}
        {#            },#}
        {#        });#}
        {#        video_block.srcObject = stream;#}
        {#    } catch (error) {#}
        {#        console.error("Error accessing webcam:", error);#}
        {#    }#}
        // }
        {##}
        {#webcam_start();#}
        {##}
        {#function capture() {#}
        {#    canvas_block.width = stream.getVideoTracks()[0].getSettings().width;#}
        {#    canvas_block.height = stream.getVideoTracks()[0].getSettings().height;#}
        {#    canvas_block.getContext("2d").drawImage(video_block, 0, 0);#}
        {#    let captured = canvas_block.toDataURL("image/jpeg");#}
        {#    console.log(captured);#}
        // }
        {##}
        {#// ----------#}
        {#// Функция для получения списка доступных веб-камер#}
        {#function getCameraList() {#}
        {#    navigator.mediaDevices.enumerateDevices()#}
        {#        .then(devices => {#}
        {#            const cameras = devices.filter(device => device.kind === 'videoinput');#}
        {##}
        {#            cameras.forEach((camera, index) => {#}
        {#                console.log(`Camera ${index + 1}: ${camera.label}`);#}
        {#            });#}
        {##}
        {#            // Переключение между камерами#}
        {#            if (cameras.length > 1) {#}
        {#                let currentCameraIndex = 0;#}
        {##}
        {#                function switchCamera() {#}
        {#                    currentCameraIndex = (currentCameraIndex + 1) % cameras.length;#}
        {#                    startCamera(cameras[currentCameraIndex].deviceId);#}
        {#                }#}
        {##}
        {#                document.getElementById('switchCameraButton').addEventListener('click', switchCamera);#}
        {#            }#}
        {#        })#}
        {#        .catch(err => {#}
        {#            console.error('Error getting camera list: ', err);#}
        {#        });#}
        // }
        {##}
        {#// Функция для запуска выбранной камеры#}
        {#function startCamera(deviceId) {#}
        {#    const constraints = {#}
        {#        video: {deviceId: deviceId}#}
        {#    };#}
        {##}
        {#    navigator.mediaDevices.getUserMedia(constraints)#}
        {#        .then(stream => {#}
        {#            const videoElement = document.getElementById('videoElement');#}
        {#            videoElement.srcObject = stream;#}
        {#        })#}
        {#        .catch(err => {#}
        {#            console.error('Error starting camera: ', err);#}
        {#        });#}
        // }
        {##}
        {#// Вызываем функцию для получения списка камер при загрузке страницы#}
        {#getCameraList();#}
    </script>
{% endblock %}