{% extends "main/base.html" %}

{% load i18n %}
{% load static %}

{% block body %}
    <section id="background">
        <div class="bg-vid-container" style="display: none;">
            <video id="video_stream" class="bg-vid" autoplay></video>
        </div>
        <div class="custom-container" style="position: absolute; bottom: 0; top: 0; left: 0; right: 0;">
            <!-- stats modal START -->
            <div class="modal fade" id="stats_modal" tabindex="-1" aria-labelledby="stats_modal_label"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="stats_modal_label">
                                {% trans "Stats" %}
                                ({% trans "Completed" %}: {{ percentage }}%)
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    data-bs-target="#stats_modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- stats accordion START -->
                            <div class="accordion" id="stats_accordion">
                                <!-- #1 START -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            {% trans "Unverified works" %}
                                            &nbsp;
                                            <b>({{ unverified_count }})</b>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                         data-bs-parent="#stats_accordion">
                                        <div class="accordion-body">
                                            {% if unverified_table_body %}
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        {% for th in table_head %}
                                                            <th scope="col">{{ th }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for uk in unverified_table_body %}
                                                        <tr>
                                                            <td class="td_uk">{{ uk }}</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                <div class="text-center">
                                                    <span>{% trans "In the archive all works are verified. But you can recheck them if necessary." %}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- #1 END -->

                                <!-- #2 START -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            {% trans "Verified works" %}
                                            &nbsp;
                                            <b>({{ verified_count }})</b>
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         data-bs-parent="#stats_accordion">
                                        <div class="accordion-body">
                                            {% if verified_table_body %}
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        {% for th in table_head %}
                                                            <th scope="col">{{ th }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for obj in verified_table_body %}
                                                        <tr>
                                                            <td class="td_uk">{{ obj.unique_key }}</td>
                                                            <td>{{ obj.score }}</td>
                                                            <td>{{ obj.user.get_full_name | default:obj.user.username }}</td>
                                                            <td>{{ obj.created }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                <div class="text-center">
                                                    <span>{% trans "A list of verified works from the archive will appear here. There are none at the moment." %}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- #2 END -->
                            </div>
                            <!-- stats accordion END -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- stats modal END -->

            <!-- recognized modal START -->
            <button id="recognized_modal_trigger" data-bs-toggle="modal" data-bs-target="#recognized_modal"
                    style="display: none;"></button>
            <div class="modal" id="recognized_modal" tabindex="-1" aria-labelledby="recognized_modal_label"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="recognized_modal_label">{% trans "Recognized" %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    data-bs-target="#recognized_modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>{% trans "The system detected the applicant's work in the image, but did not correctly recognize the unique key." %}</p>
                            <p>{% trans "Make sure that the work being checked belongs to the appropriate archive and try again. Or you can specify the unique key manually" %}:</p>
                            <div class="form-floating mb-2">
                                <input id="unique_key_input" type="text" class="form-control" placeholder="------">
                                <label for="unique_key_input">{% trans "Unique key" %}</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                                    data-bs-target="#recognized_modal">
                                {% trans "Try again" %}
                            </button>
                            <button type="button" class="btn btn-primary" disabled>{% trans "Continue" %}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- recognized modal END -->

            <!-- unrecognized modal START -->
            <button id="unrecognized_modal_trigger" data-bs-toggle="modal" data-bs-target="#unrecognized_modal"
                    style="display: none;"></button>
            <div class="modal" id="unrecognized_modal" tabindex="-1" aria-labelledby="unrecognized_modal_label"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="unrecognized_modal_label">{% trans "Unrecognized" %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    data-bs-target="#unrecognized_modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>{% trans "The system failed to detect the applicant's work in the image." %}</p>
                            <p>{% trans "Make sure" %}:</p>
                            <ol>
                                <li>{% trans "the image has a good enough resolution" %};</li>
                                <li>{% trans "there is enough contrast in the image" %};</li>
                                <li>{% trans "the work is completely in the image" %};</li>
                                <li>{% trans "there is nothing unnecessary in the image" %}.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- unrecognized modal END -->

            <!-- header START -->
            <header style="margin: 0 !important; background: var(--white);">
                <nav class="container-fluid border-bottom">
                    <div class="row align-items-center" style="min-height: 52px;">
                        <div class="col-auto">
                            <span class="fw-semibold" style="font-size: 24px;">{{ project_name }}</span>
                        </div>
                        <div class="col-lg">
                            <span class="nav-subtitle" style="color: var(--text-secondary);">{{ subtitle }}</span>
                        </div>
                        <div class="col-auto">
                            <span>{% trans "Archive" %}: <b>{{ prefix }}</b></span>
                            <span class="nav-item-divider"> / </span>
                            <span>{% trans "Works verified" %}: <b>{{ verified_count }} ({{ amount }})</b></span>
                            <span class="nav-item-divider"> / </span>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#stats_modal">{% trans "Stats" %}</a>
                            <span class="nav-item-divider"> / </span>
                            <a href="{% url 'index' %}">{% trans "End session" %}</a>
                        </div>
                    </div>
                </nav>
            </header>
            <!-- header END -->

            <!-- main START -->
            <main class="content text-center">
                <!-- overlay loading START -->
                <div id="overlay" style="display: none;">
                    <div class="content">
                        <i class="spinner-border text-primary m-3" style="width: 3rem; height: 3rem;"></i>
                        <p class="fs-4"> {% trans "Image Scanning" %}… </p>
                    </div>
                </div>
                <!-- overlay loading END -->
                <div id="video_load" class="inner">
                    <i class="spinner-border text-primary m-3" style="width: 3rem; height: 3rem;"></i>
                    <p class="fs-4"> {% trans "Trying to access the web-camera" %}… </p>
                </div>
                <div id="video_issue" class="inner" style="display: none;">
                    <h3 class="fw-normal mb-2"> {% trans "Video issue" %} </h3>
                    <p class="bi bi-camera-video-off" style="font-size: 94px; color: var(--text-secondary)"></p>
                    <p class="mb-4">{% trans "The application cannot access the web-camera. Make sure you have allowed access in your browser settings, check if your antivirus is blocking the stream or if another application is using the camera. Then, try reloading the page. If these actions didn't help, you can use the option to upload the image from your computer." %}</p>
                </div>
            </main>
            <!-- main END -->

            <!--footer START -->
            <footer class="text-center" style="margin-left: 10px; margin-right: 10px;">
                <div id="button_capture" class="btn-group dropdown-center" style="min-width: 169px; display: none;">
                    <button id="button_capture_main" type="button" class="btn btn-primary">
                        <i class="bi bi-camera"></i>
                        {% trans "Capture" %}
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        <h6 class="dropdown-header">{% trans "Select a video source" %}</h6>
                        <hr class="dropdown-divider">
                        <ul id="video_sources" style="list-style-type: none; margin: 0; padding: 0;"></ul>
                    </div>
                </div>
                <button id="button_upload" type="button" class="btn btn-light" style="min-width: 169px;">
                    <i class="bi bi-upload"></i>
                    {% trans "Upload image" %}
                </button>
                <input id="file_upload" type="file" accept="image/*" style="display: none"/>
            </footer>
            <!--footer END -->
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script>
        // add confirmation before reloading / closing
        window.addEventListener("beforeunload", (e) => {
            e.preventDefault();
            e.returnValue = "";
        });

        // init global vals
        let stream;
        let video_stream_block = document.getElementById("video_stream");
        let overlay = document.getElementById("overlay");
        let recognized_modal_trigger = document.getElementById("recognized_modal_trigger");
        let unrecognized_modal_trigger = document.getElementById("unrecognized_modal_trigger");

        // local storage key for storing the deviceId of the active web-camera
        const ls_key = "active_video_source";

        // load a list of video sources
        function load_video_sources() {
            let list = document.getElementById("video_sources");
            navigator.mediaDevices.enumerateDevices().then(devices => {
                let video_sources = devices.filter(device => device.kind === "videoinput" && device.deviceId !== "");
                let active_video_source = localStorage.getItem(ls_key);
                video_sources.forEach((src) => {
                    let li = document.createElement("li");
                    let button = document.createElement("button");
                    button.className = `dropdown-item${active_video_source === src.deviceId ? " active" : ""}`;
                    button.type = "button";
                    button.id = src.deviceId;
                    button.innerHTML = src.label;
                    button.onclick = function () {
                        for (let li of list.children)
                            li.firstElementChild.className = "dropdown-item";
                        this.classList.add("active");
                        localStorage.setItem(ls_key, this.id);
                        start_video_stream(this.id);
                    };
                    li.append(button);
                    list.appendChild(li);
                });
                if (list.children.length && active_video_source == null) {
                    let button = list.firstElementChild.firstElementChild;
                    button.classList.add("active");
                    localStorage.setItem(ls_key, button.id);
                }
            }).catch(e => {
                console.error("Error loading video sources:", e);
            });
        }

        // start a video stream from the web-camera
        async function start_video_stream(device_id) {
            const constraints = {
                video: {
                    deviceId: device_id,
                    width: {ideal: 3840},
                    height: {ideal: 2160}
                }
            };
            try {
                stream = await navigator.mediaDevices.getUserMedia(constraints);
                video_stream_block.srcObject = stream;
                document.getElementById("video_load").style.display = "none";
                document.getElementById("video_issue").style.display = "none";
                document.getElementById("button_capture").style.display = "inline-flex";
                video_stream_block.parentElement.style.display = "flex";
            } catch (e) {
                console.error("Error starting video stream:", e);
                document.getElementById("video_stream").parentElement.style.display = "none";
                document.getElementById("video_load").style.display = "none";
                document.getElementById("button_capture").style.display = "none";
                document.getElementById("video_issue").style.display = "block";
            }
        }

        // capture image from video stream
        function capture() {
            let canvas = document.createElement("canvas");
            canvas.width = stream.getVideoTracks()[0].getSettings().width;
            canvas.height = stream.getVideoTracks()[0].getSettings().height;
            canvas.getContext("2d").drawImage(video_stream_block, 0, 0);
            return canvas
        }

        load_video_sources();
        start_video_stream(localStorage.getItem(ls_key));

        // send an AJAX request to recognize the unique key of the uploaded work
        function recognize(form_data) {
            overlay.style.display = "block";
            $.ajax({
                type: "POST",
                url: "{% url 'recognize' %}",
                data: form_data,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    overlay.style.display = "none";
                    if (data["recognized"]) {
                        if (data["unique_key"]) {
                            // TODO: redirect to score page
                        } else {
                            recognized_modal_trigger.click();
                        }
                    } else {
                        unrecognized_modal_trigger.click();
                    }
                },
                error: function () {
                    overlay.style.display = "none";
                    console.log("validation_part() error");
                }
            });
        }

        // add send event to button "upload"
        let button_upload = document.getElementById("button_upload");
        let file_upload = document.getElementById("file_upload");

        button_upload.addEventListener("click", () => {
            file_upload.click();
        });

        file_upload.addEventListener("change", () => {
            if (file_upload.files.length !== 0) {
                let file = file_upload.files[0];
                let form_data = new FormData();
                form_data.append("csrfmiddlewaretoken", CSRF_TOKEN);
                form_data.append("prefix", "{{ prefix }}");
                form_data.append("image", file);
                file_upload.value = "";
                recognize(form_data);
            }
        });

        // add send event to button "capture"
        let button_capture_main = document.getElementById("button_capture_main");

        button_capture_main.addEventListener("click", () => {
            let format = "jpeg";
            let quality = 1;
            let canvas = capture();
            canvas.toBlob(function (blob) {
                let form_data = new FormData();
                form_data.append("csrfmiddlewaretoken", CSRF_TOKEN);
                form_data.append("prefix", "{{ prefix }}");
                form_data.append("image", blob, `captured.${format}`);
                recognize(form_data);
            }, `image/${format}`, quality);
        });
    </script>
{% endblock %}