{% extends "main/base.html" %}

{% load i18n %}
{% load static %}

{% block body %}
    <!-- header START -->
    <header>
        <a href="{% url 'index' %}" class="display-1 fw-bold"> {{ project_name }} </a>
        <p class="display-6"> {{ subtitle }} </p>
    </header>
    <!-- header END -->

    <!-- main START -->
    <main class="content">
        <div class="inner">
            <!-- catch form errors START -->
            {% for error in form.non_field_errors %}
                <div class="alert alert-warning" data-aos="zoom-in" data-aos-duration="300"> {{ error }} </div>
            {% endfor %}
            {% for f in form %}
                {% for error in f.errors %}
                    <div class="alert alert-warning" data-aos="zoom-in" data-aos-duration="300"> {{ error }} </div>
                {% endfor %}
            {% endfor %}
            <!-- catch form errors END -->

            <!-- creation form START -->
            <form method="post" class="form-creation">
                {% csrf_token %}
                <h3 class="fw-normal mb-3"> {% trans "Creation" %} </h3>
                <div class="mb-2"> {{ form.subject }} </div>
                <div class="mb-2"> {{ form.date }} </div>
                <div class="mb-4"> {{ form.amount }} </div>
                <button class="btn btn-primary" style="min-width: 152px;" type="submit" onclick="show_overlay()">
                    {% trans "Create" %}
                </button>
            </form>
            <!-- creation form END -->
        </div>
    </main>
    <!-- main END -->

    <!--footer START -->
    <footer>
        <a href="{% url 'index' %}"> {% trans "To main page" %} </a>
    </footer>
    <!--footer END -->
{% endblock %}

{% block extra_js %}
    <script>
        // add "custom-container" & "text-center" classes to body
        document.body.classList.add("custom-container", "text-center");

        // change datepicker widget
        $(function () {
            $("#id_date").datepicker({
                language: "{{ datepicker_language }}",
                format: "dd.mm.yyyy"
            });
        });
    </script>
{% endblock %}