{% extends "main/base.html" %}

{% load i18n %}
{% load static %}

{% block body %}
    <!-- header START -->
    <header>
        <a href="{% url 'index' %}" class="display-1 fw-bold"> {{ project_name }} </a>
        <p class="display-6"> {{ subtitle }} </p>
    </header>
    <!-- header END -->

    <!-- overlay loading START -->
    <div id="overlay" style="display: none;">
        <div class="content">
            <i class="spinner-border text-primary m-3" style="width: 3rem; height: 3rem;"></i>
            <p class="fs-4"> {% trans "Materials are being prepared" %}… </p>
            <p class="fs-4">
                {% blocktranslate %}Approximate waiting time: <b id="waiting_time"></b> min.{% endblocktranslate %}
            </p>
        </div>
    </div>
    <!-- overlay loading END -->

    <!-- main START -->
    <main class="content">
        <div class="inner">
            <!-- catch form errors START -->
            {% for error in form.non_field_errors %}
                <div class="alert alert-warning" data-aos="zoom-in" data-aos-duration="300"> {{ error }} </div>
            {% endfor %}
            {% for f in form %}
                {% for error in f.errors %}
                    <div class="alert alert-warning" data-aos="zoom-in" data-aos-duration="300"> {{ error }} </div>
                {% endfor %}
            {% endfor %}
            <!-- catch form errors END -->

            <!-- creation form START -->
            <form method="post" class="form-creation mb-4">
                {% csrf_token %}
                <h3 class="fw-normal mb-3"> {% trans "Creation" %} </h3>
                <div class="mb-2"> {{ form.subject }} </div>
                <div class="mb-2"> {{ form.date }} </div>
                <div class="mb-4"> {{ form.amount }} </div>
                <button class="btn btn-primary" style="min-width: 152px;" type="submit" onclick="show_overlay()">
                    {% trans "Create" %}
                </button>
            </form>
            <!-- creation form END -->
        </div>

        <!-- object storage table START -->
        <div class="mt-4">
            <div class="table-container mb-4">
                <table class="table" style="margin: 0;">
                    <thead>
                    <tr>
                        {% for th in table_head %}
                            <th scope="col">{{ th }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in page_obj %}
                        <tr>
                            <td>{{ obj.subject }}</td>
                            <td>{{ obj.amount }}</td>
                            <td>{{ obj.date }}</td>
                            <td>{{ obj.user.get_full_name | default:obj.user.username }}</td>
                            <td>{{ obj.created }}</td>
                            <td>???</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">{% trans "First" %}</a>
                        <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    {% else %}
                        <span>{% trans "First" %}</span>
                        <span>&laquo;</span>
                    {% endif %}
                    <span class="current">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %}</a>
                    {% else %}
                        <span>&raquo;</span>
                        <span>{% trans "Last" %}</span>
                    {% endif %}
                </span>
            </div>
        </div>
        <!-- object storage table END -->
    </main>
    <!-- main END -->

    <!--footer START -->
    <footer>
        <a href="{% url 'index' %}"> {% trans "To main page" %} </a>
    </footer>
    <!--footer END -->
{% endblock %}

{% block extra_js %}
    <script>
        // add "custom-container" & "text-center" classes to body
        document.body.classList.add("custom-container", "text-center");

        // init form fields
        let subject = document.getElementById("id_subject");
        let date = document.getElementById("id_date");
        let amount = document.getElementById("id_amount");

        // change datepicker widget
        $(function () {
            $("#id_date").datepicker({
                language: "{{ datepicker_language }}",
                format: "dd.mm.yyyy"
            });
        });

        // lock input for date
        date.addEventListener("keypress", function (evt) {
            evt.preventDefault();
        });

        // validate date string (format: "dd.mm.yyyy")
        function validate_date(val) {
            let is_valid = false;
            let t = val.match(/^(\d{2})\.(\d{2})\.(\d{4})$/);
            if (t !== null) {
                let d = +t[1], m = +t[2], y = +t[3];
                let date = new Date(y, m - 1, d);
                is_valid = (date.getFullYear() === y && date.getMonth() === m - 1);
            }
            return is_valid;
        }

        // show overlay if fields are filled in correctly
        function show_overlay() {
            if (
                subject.value &&
                validate_date(date.value) &&
                Number(amount.value) >= Number(amount.min) &&
                Number(amount.value) <= Number(amount.max)
            ) {
                let wt = Number({{ avg_generate_time }}) * Number(amount.value) / 60;
                document.getElementById("waiting_time").innerText = wt < 1 ? "< 1" : `${Math.ceil(wt)}`;
                document.getElementById("overlay").style.display = "block";
            }
        }
    </script>
{% endblock %}