{% extends "main/base.html" %}

{% load i18n %}
{% load static %}

{% block body %}
    <!-- header START -->
    <header>
        <a href="{% url 'index' %}" class="display-1 fw-bold"> {{ project_name }} </a>
        <p class="display-6"> {{ subtitle }} </p>
    </header>
    <!-- header END -->

    <!-- main START -->
    <main class="content">
        <div class="inner">

        </div>
    </main>
    <!-- main END -->

    <!--footer START -->
    <footer>

        <span>
            {% blocktranslate %}You are logged in as <b>{{ user_full_name }}</b>{% endblocktranslate %}
        </span>
        <span class="mx-1">|</span>
        <a href="{% url 'logout' %}"> {% trans "Log out" %} </a>
    </footer>
    <!--footer END -->
{% endblock %}

{% block extra_js %}
    <script>
        // add "custom-container" & "text-center" classes to body
        document.body.classList.add("custom-container", "text-center");
    </script>
{% endblock %}