{% extends "main/base.html" %}

{% load i18n %}
{% load static %}

{% block body %}
    <!-- header START -->
    <header>
        <a href="{% url 'index' %}" class="display-1 fw-bold"> {{ project_name }} </a>
        <p class="display-6"> {{ subtitle }} </p>
    </header>
    <!-- header END -->

    <!-- main START -->
    <main class="content">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <!-- card #1 START -->
                    <div class="card index_card">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title">{% trans "Creation & Download" %}</h5>
                            <p class="bi bi-file-earmark-arrow-down icon mb-2"></p>
                            <p class="card-text">{% trans "In this section, you can create new and download previously created sets of unique exam materials." %}</p>
                            <a href="{% url 'creation' %}" class="btn btn-primary mt-auto">{% trans "Go to" %}</a>
                        </div>
                    </div>
                    <!-- card #1 END -->
                </div>
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <!-- card #2 START -->
                    <div class="card index_card">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title">{% trans "Verification of works" %}</h5>
                            <p class="bi bi-clipboard2-check icon mb-2"></p>
                            <p class="card-text">{% trans "In this section you can scan and check in semi-automatic mode sets of applicants' exam works." %}</p>
                            <a href="{% url 'verification' %}" class="btn btn-primary mt-auto">{% trans "Go to" %}</a>
                        </div>
                    </div>
                    <!-- card #2 END -->
                </div>
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <!-- card #3 START -->
                    <div class="card index_card">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title">{% trans "System administration" %}</h5>
                            <p class="bi bi-database-lock icon mb-2"></p>
                            <p class="card-text">{% trans "In this section you can manage the system (if you have certain rights), as well as create, read, update and delete exam materials." %}</p>
                            {% if user.is_staff %}
                                <a href="/admin" class="btn btn-primary">{% trans "Go to" %}</a>
                            {% else %}
                                <div data-bs-toggle="tooltip" data-bs-placement="top"
                                     data-bs-title="{% trans 'Not enough rights' %}">
                                    <button class="btn btn-primary mt-auto" disabled>{% trans "Go to" %} </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- card #3 END -->
                </div>
            </div>
        </div>
    </main>
    <!-- main END -->

    <!--footer START -->
    <footer>

        <span>
            {% blocktranslate %}You are logged in as <b>{{ user_full_name }}</b>{% endblocktranslate %}
        </span>
        <span class="mx-1">|</span>
        <a href="{% url 'logout' %}"> {% trans "Log out" %} </a>
    </footer>
    <!--footer END -->
{% endblock %}

{% block extra_js %}
    <script>
        // add "custom-container" & "text-center" classes to body
        document.body.classList.add("custom-container", "text-center");

        // init tooltips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
{% endblock %}