{% extends "main/base.html" %}

{% load i18n %}
{% load static %}

{% block body %}
    <!-- header START -->
    <header>
        <a href="{% url 'index' %}" class="display-1 fw-bold"> {{ project_name }} </a>
        <p class="display-6"> {{ subtitle }} </p>
    </header>
    <!-- header END -->

    <!-- main START -->
    <main class="content">
        <!-- inner content START -->
        <div class="inner">
            {% block inner_content %}
            {% endblock %}
        </div>
        <!-- inner content END -->

        <!-- object storage table START -->
        {% if page_obj %}
            <div class="mt-5" data-aos="fade-up" data-aos-duration="600">
                <h3 class="fw-normal mb-3" data-aos="fade-up" data-aos-duration="300">
                    {% trans "Table of archives" %}
                </h3>
                <div class="table-container mb-2">
                    <table id="object_storage_table" class="table table-hover" style="margin: 0;">
                        <thead>
                        <tr>
                            {% for th in table_head %}
                                <th scope="col">{{ th }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in page_obj %}
                            <tr>
                                <td>{{ obj.subject }}</td>
                                <td>{{ obj.date }}</td>
                                <td>{{ obj.amount }}</td>
                                <td>{{ obj.user.get_full_name | default:obj.user.username }}</td>
                                <td>{{ obj.created }}</td>
                                <td>
                                    <a class="bi bi-download" href="{% url 'download_archive' prefix=obj.prefix %}"></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination mb-5">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-light me-1" href="?page=1">{% trans "First" %}</a>
                        <a class="btn btn-light me-1" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    {% else %}
                        <button class="btn btn-light me-1" type="button" disabled>{% trans "First" %}</button>
                        <button class="btn btn-light me-1" type="button" disabled>&laquo;</button>
                    {% endif %}
                    <span class="current">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                    {% if page_obj.has_next %}
                        <a class="btn btn-light ms-1" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        <a class="btn btn-light ms-1"
                           href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %}</a>
                    {% else %}
                        <button class="btn btn-light ms-1" type="button" disabled>&raquo;</button>
                        <button class="btn btn-light ms-1" type="button" disabled>{% trans "Last" %}</button>
                    {% endif %}
                </span>
                </div>
            </div>
        {% else %}
            <div class="alert-container mt-4 mb-2" data-aos="fade-up" data-aos-duration="600">
                <div class="alert alert-primary" role="alert">
                    {% trans "In the future there will be information here about archives you can download. At the moment they are not available." %}
                </div>
            </div>
        {% endif %}
        <!-- object storage table END -->
    </main>
    <!-- main END -->

    <!--footer START -->
    <footer>
        <a href="{% url 'index' %}"> {% trans "To main page" %} </a>
    </footer>
    <!--footer END -->
{% endblock %}

{% block extra_js %}
    <script>
        // add "custom-container" & "text-center" classes to body
        document.body.classList.add("custom-container", "text-center");

        // remove unnecessary bottom border for object_storage_table last tr
        let object_storage_table = document.getElementById("object_storage_table");
        let tbody = object_storage_table.getElementsByTagName("tbody")[0];
        Array.from(tbody.getElementsByTagName("tr")).at(-1).style.borderBottom = "transparent";
    </script>
    {% block extra_js_custom_logic %}
    {% endblock %}
{% endblock %}