{% extends "main/verification_child.html" %}

{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block inner_body %}
    <!-- task modals START -->
    {% for part in score_result.variant.parts %}
        {% for task in part.material %}
            <div class="modal fade" id="task_modal_{{ task.position }}" tabindex="-1"
                 aria-labelledby="task_modal_{{ task.position }}_label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="task_modal_{{ task.position }}_label">
                                {% trans "Task" %} {{ task.position }}
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    data-bs-target="#task_modal_{{ task.position }}"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body task_modal_part">
                            {{ task.content | safe }}
                        </div>
                        <div class="modal-footer task_modal_part task_answers_container">
                            {% if part.info.answer_type == 0 %}
                                {% for option in task.options %}
                                    <div class="task_answer {% if option.is_answer %}correct{% else %}incorrect{% endif %}">
                                        {{ forloop.counter }}.&nbsp;{{ option.content | safe }}
                                    </div>
                                {% endfor %}
                            {% elif part.info.answer_type == 1 %}
                                {% for option in task.options %}
                                    <div class="task_answer {% if option.is_answer %}correct{% else %}incorrect{% endif %}">
                                        {{ option.content | safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <!-- task modals END -->

    <!-- header START -->
    <header style="margin: 0 !important; background: var(--white);">
        <nav class="container-fluid border-bottom">
            <div class="row align-items-center" style="min-height: 52px;">
                <div class="col-auto">
                    <span class="fw-semibold" style="font-size: 24px;">{{ project_name }}</span>
                </div>
                <div class="col-lg">
                    <span class="nav-subtitle" style="color: var(--text-secondary);">{{ subtitle }}</span>
                </div>
                <div class="col-auto">
                    <span>{% trans "Archive" %}: <b>{{ prefix }}</b></span>
                    <span class="nav-item-divider"> / </span>
                    <span>{% trans "Unique key" %}: <b class="uk">{{ unique_key }}</b></span>
                    <span class="nav-item-divider"> / </span>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#stats_modal">{% trans "Stats" %}</a>
                    <span class="nav-item-divider"> / </span>
                    <a href="{% url 'verification' %}">{% trans "End session" %}</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- header END -->

    <!-- main START -->
    <main class="content">
        <div class="row" style="margin: 0; padding: 0;">
            <div id="frame_panel" class="col-xl" style="margin: 0; padding: 0; overflow-y: auto;">
                <div class="accordion accordion-flush" id="accordion_panel">
                    {% for part in score_result.variant.parts %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panel_collapse_{{ forloop.counter }}" aria-expanded="true"
                                        aria-controls="panel_collapse_{{ forloop.counter }}">
                                    {% trans "Part" %} {{ part.info.title }}
                                    &nbsp;
                                    <b>({{ part.info.task_count }})</b>
                                </button>
                            </h2>
                            <div id="panel_collapse_{{ forloop.counter }}" class="accordion-collapse collapse show">
                                <div class="accordion-body task_container">
                                    {% for task in part.material %}
                                        <div class="task_body text-center">
                                            <label for="task_{{ task.position }}" class="form-label">
                                                <a href="#" data-bs-toggle="modal"
                                                   data-bs-target="#task_modal_{{ task.position }}">
                                                    {{ task.position }}
                                                    {% if  task.edited %}
                                                        <span class="badge rounded-circle bg-primary"
                                                              data-bs-toggle="tooltip"
                                                              data-bs-title="{% trans 'Edited' %}">!</span>
                                                    {% endif %}
                                                </a>
                                            </label>
                                            {% if part.info.answer_type == 0 %}
                                                <input type="number" min="1" max="4" class="form-control task_0"
                                                       id="task_{{ task.position }}"
                                                       placeholder="{% for o in task.options %}{% if o.is_answer %}{{ forloop.counter }}{% endif %}{% endfor %}"
                                                       value="{% if score_result.scored %}{% if task.answer %}{{ task.answer }}{% else %}{{ "" }}{% endif %}{% else %}{{ "" }}{% endif %}"
                                                >
                                            {% elif part.info.answer_type == 1 %}
                                                <input type="text" class="form-control task_1"
                                                       id="task_{{ task.position }}"
                                                       placeholder="{{ task.options.0.content|re_clean }}"
                                                       value="{% if score_result.scored %}{% if task.answer %}{{ task.answer }}{% else %}{{ "" }}{% endif %}{% else %}{{ "" }}{% endif %}"
                                                >
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="frame_image" class="col-xl-auto"
                 style="margin: 0; padding: 0; outline: 1px solid var(--bs-border-color);">
                <img id="scanned_image" src="{{ img_threshold_url }}" alt="threshold scanned image">
            </div>
        </div>
    </main>
    <!-- main END -->

    <!--footer START -->
    <footer style="margin: 0; padding: 12px; background: white; border-top: 1px solid var(--bs-border-color); display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
        <div>
            {% trans "Score" %}:
            &nbsp;
            <b id="score_text">{{ score_result.variant.achieved_score }} / {{ score_result.variant.total_score }}</b>
        </div>
        <div style="display: flex; flex-wrap: wrap; justify-content: flex-end;">
            <a class="btn btn-light" style="min-width: 152px; margin: 0 6px;"
               href="{% url 'capture' prefix=prefix %}">
                {% trans "Back to scanning" %}
            </a>
            <!-- score form START -->
            <form method="post" style="margin: 0 6px;">
                {% csrf_token %}
                {{ form.prefix }}
                {{ form.unique_key }}
                {{ form.score }}
                <button class="btn btn-primary" style="min-width: 152px;" type="submit">
                    {% trans "Accept" %}
                </button>
            </form>
            <!-- score form END -->
        </div>
    </footer>
    <!--footer END -->
{% endblock %}

{% block extra_js_custom_logic %}
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_SVG"></script>
    <script>
        // add "custom-container" class to body
        document.body.classList.add("custom-container");

        // init tooltips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        // init elements for resizing
        let header = document.querySelector("header");
        let footer = document.querySelector("footer");
        let frame_panel = document.getElementById("frame_panel");
        let frame_image = document.getElementById("frame_image");
        let image = document.getElementById("scanned_image");

        // calculate elements' size
        function calc_sizes() {
            let w = window.innerWidth;
            let h = window.innerHeight;
            if (w >= 1200) {
                frame_panel.style.height = `${h - header.offsetHeight - footer.offsetHeight}px`;
                image.style.height = `${h - header.offsetHeight - footer.offsetHeight}px`;
                image.style.width = "auto";
            } else {
                frame_panel.style.height = "auto";
                image.style.width = `${header.offsetWidth}px`;
                image.style.height = "auto";
            }
        }

        // activate resize
        window.addEventListener("resize", calc_sizes);
        calc_sizes();

        // get score
        let s = document.getElementById("score_text").textContent.split("/");
        let achieved_score = parseInt(s[0]);
        let total_score = parseInt(s[1]);

        // set values for hidden inputs
        document.getElementById("id_prefix").value = "{{ prefix }}";
        document.getElementById("id_unique_key").value = "{{ unique_key }}";
        document.getElementById("id_score").value = achieved_score;

        // init elements for check inputs & add change listeners
        let task_inputs = document.querySelectorAll(".task_0, .task_1");
        [...task_inputs].forEach((input) => {
            check_input(input);
            input.addEventListener("change", function () {
                check_input(input);
            });
        });

        // calculate score &  change task input color
        function check_input(input) {
            // find task type
            let task_type = -1;
            [...input.classList].forEach((c) => {
                if (c.startsWith("task_")) {
                    task_type = parseInt(c[c.length - 1]);
                }
            });
            // calc score & change color
            if (task_type === 0) {
                // [type 0]
                let ans_correct = input.getAttribute("placeholder");
                let ans_entered = input.value;
                if (ans_entered) {
                    if (ans_correct === ans_entered) {
                        input.style.border = "var(--bs-border-width) solid var(--bs-success)";
                    } else {
                        input.style.border = "var(--bs-border-width) solid var(--bs-danger)";
                    }
                } else {
                    input.style.border = "var(--bs-border-width) solid var(--bs-border-color)";
                }
            } else if (task_type === 1) {
                // [type 1]
                let ans_correct = [];
                let modal = document.getElementById(`${input.id.split("_")[0]}_modal_${input.id.split("_")[1]}`);
                let ans_container = modal.children[0].children[0].children[2];
                [...ans_container.children].forEach((ans) => {
                    ans_correct.push(ans.innerText.trim().toUpperCase());
                });
                let ans_entered = input.value.trim();
                if (ans_entered) {
                    if (ans_correct.includes(ans_entered.toUpperCase())) {
                        input.style.border = "var(--bs-border-width) solid var(--bs-success)";
                    } else {
                        input.style.border = "var(--bs-border-width) solid var(--bs-danger)";
                    }
                } else {
                    input.style.border = "var(--bs-border-width) solid var(--bs-border-color)";
                }
            }
            // TODO: update achieved_score value
            // update score string & hidden input value
            document.getElementById("score_text").textContent = `${achieved_score} / ${total_score}`;
            document.getElementById("id_score").value = achieved_score;
        }
    </script>
{% endblock %}