{% extends "main/base.html" %}

{% load i18n %}
{% load static %}

{% block body %}
    <!-- stats modal START -->
    <div class="modal fade" id="stats_modal" tabindex="-1" aria-labelledby="stats_modal_label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stats_modal_label">
                        {% trans "Stats" %}
                        ({% trans "Completed" %}: {{ percentage }}%)
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            data-bs-target="#stats_modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- stats accordion START -->
                    <div class="accordion" id="stats_accordion">
                        <!-- #1 START -->
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#stats_collapse_one" aria-expanded="true"
                                        aria-controls="stats_collapse_one">
                                    {% trans "Unverified works" %}
                                    &nbsp;
                                    <b>({{ unverified_count }})</b>
                                </button>
                            </h2>
                            <div id="stats_collapse_one" class="accordion-collapse collapse show"
                                 data-bs-parent="#stats_accordion">
                                <div class="accordion-body">
                                    {% if unverified_table_body %}
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                {% for th in table_head %}
                                                    <th scope="col">{{ th }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for uk in unverified_table_body %}
                                                <tr>
                                                    <td class="uk">{{ uk }}</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <div class="text-center">
                                            <span>{% trans "In the archive all works are verified. But you can recheck them if necessary." %}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- #1 END -->

                        <!-- #2 START -->
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#stats_collapse_two"
                                        aria-expanded="false" aria-controls="stats_collapse_two">
                                    {% trans "Verified works" %}
                                    &nbsp;
                                    <b>({{ verified_count }})</b>
                                </button>
                            </h2>
                            <div id="stats_collapse_two" class="accordion-collapse collapse"
                                 data-bs-parent="#stats_accordion">
                                <div class="accordion-body">
                                    {% if verified_table_body %}
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                {% for th in table_head %}
                                                    <th scope="col">{{ th }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for obj in verified_table_body %}
                                                <tr>
                                                    <td class="uk">{{ obj.unique_key }}</td>
                                                    <td>{{ obj.score }}</td>
                                                    <td>{{ obj.user.get_full_name | default:obj.user.username }}</td>
                                                    <td>{{ obj.created }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <div class="text-center">
                                            <span>{% trans "A list of verified works from the archive will appear here. There are none at the moment." %}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- #2 END -->
                    </div>
                    <!-- stats accordion END -->
                </div>
            </div>
        </div>
    </div>
    <!-- stats modal END -->
    {% block inner_body %}
    {% endblock %}
{% endblock %}

{% block extra_js %}
    <script>
        // add confirmation before reloading / closing
        // window.addEventListener("beforeunload", (e) => {
        //     e.preventDefault();
        //     e.returnValue = "";
        // });
    </script>
    {% block extra_js_custom_logic %}
    {% endblock %}
{% endblock %}