{% extends "main/base.html" %}

{% load i18n %}
{% load static %}

{% block body %}
    <!-- toasts START -->
    {% if messages %}
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            {% for message in messages %}
                <div class="toast align-items-center text-bg-{{ message.tags }}
                border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">{{ message|safe }}</div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <script>
        for (let e of document.getElementsByClassName("toast"))
            bootstrap.Toast.getOrCreateInstance(e).show();
    </script>
    <!-- toasts END -->

    <!-- header START -->
    <header>
        <a href="{% url 'index' %}" class="display-1 fw-bold"> {{ project_name }} </a>
        <p class="display-6"> {{ subtitle }} </p>
    </header>
    <!-- header END -->

    <!-- main START -->
    <main class="content">
        <!-- information START -->
        <div class="inner mb-4" data-aos="fade-up" data-aos-duration="300">
            <h3 class="fw-normal mb-3" data-aos="fade-up" data-aos-duration="300"> {% trans "Information" %} </h3>
            <span>{% trans "The archives are checked semi-automatically using a web-camera. In case the web-camera is not available, you can use uploading scanned files from the device. To start checking the archive, click on the cell in the first column of the table. The verification report can be downloaded only for those archives that are fully verified." %}</span>
        </div>
        <!-- information END -->

        <!-- verification table START -->
        {% if page_obj %}
            <div class="mt-5" data-aos="fade-up" data-aos-duration="600">
                <h3 class="fw-normal mb-3" data-aos="fade-up" data-aos-duration="300">
                    {% trans "Table of verification" %}
                </h3>
                <div class="table-container mb-2">
                    <table id="verification_table" class="table table-hover" style="margin: 0;">
                        <thead>
                        <tr>
                            {% for th in table_head %}
                                <th scope="col">{{ th }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in page_obj %}
                            <tr>
                                <td><a href="{% url 'capture' prefix=obj.prefix %}">{{ obj.subject }}</a></td>
                                <td>{{ obj.date }}</td>
                                <td class="align-middle">
                                    <div class="progress"
                                         data-bs-toggle="tooltip" data-bs-placement="top"
                                         data-bs-title="{{ obj.verified_count }} / {{ obj.amount }}">
                                        <div class="progress-bar"
                                             style="width: {% widthratio obj.verified_count obj.amount 100 %}%"></div>
                                    </div>
                                </td>
                                <td>{{ obj.user.get_full_name | default:obj.user.username }}</td>
                                <td>{{ obj.created }}</td>
                                {% if obj.verified_count == obj.amount %}
                                    <td>
                                        <a class="bi bi-download" href="#"></a>
                                    </td>
                                {% else %}
                                    <td>
                                        <i class="bi bi-ban" data-bs-toggle="tooltip" data-bs-placement="top"
                                           data-bs-title="{% trans 'To download the report, the archive must be fully verified.' %}">
                                        </i>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination mb-5">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-light me-1" href="?page=1">{% trans "First" %}</a>
                        <a class="btn btn-light me-1" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    {% else %}
                        <button class="btn btn-light me-1" type="button" disabled>{% trans "First" %}</button>
                        <button class="btn btn-light me-1" type="button" disabled>&laquo;</button>
                    {% endif %}
                    <span class="current">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                    {% if page_obj.has_next %}
                        <a class="btn btn-light ms-1" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        <a class="btn btn-light ms-1"
                           href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %}</a>
                    {% else %}
                        <button class="btn btn-light ms-1" type="button" disabled>&raquo;</button>
                        <button class="btn btn-light ms-1" type="button" disabled>{% trans "Last" %}</button>
                    {% endif %}
                </span>
                </div>
            </div>
        {% else %}
            <div class="alert-container mt-4 mb-2" data-aos="fade-up" data-aos-duration="600">
                <div class="alert alert-primary" role="alert">
                    {% trans "In the future there will be information here about archives you can verify. At the moment they are not available." %}
                </div>
            </div>
        {% endif %}
        <!-- verification table END -->
    </main>
    <!-- main END -->

    <!--footer START -->
    <footer>
        <a href="{% url 'index' %}"> {% trans "To main page" %} </a>
    </footer>
    <!--footer END -->
{% endblock %}

{% block extra_js %}
    <script>
        // add "custom-container" & "text-center" classes to body
        document.body.classList.add("custom-container", "text-center");

        // init tooltips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        // remove unnecessary bottom border for verification_table last tr
        let verification_table = document.getElementById("verification_table");
        let tbody = verification_table.getElementsByTagName("tbody")[0];
        Array.from(tbody.getElementsByTagName("tr")).at(-1).style.borderBottom = "transparent";
    </script>
{% endblock %}